.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    @media screen and (max-width: 500px) {
        margin-right: 0px;
        margin-left: 0px;
       }
}
.blocflex__article{
    margin: 10px;
    padding: 5px;
    flex: 1 0 300px;
    border-radius: 20px;
    text-align: center;
    background-color: #e9edee;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
    transform: perspective(1000px) rotateX(0) rotateY(0); 
  
    &:hover {
      background-color: #d3d8d9;
      box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.1), inset 3px 3px 7px rgba(0, 0, 0, 0.5);
      transform: perspective(1000px) rotateX(-5deg) rotateY(20deg); 
    }
}

.blocflex__article h5>a{
    text-decoration: none;
    color: rgba(63, 22, 22, 0.593);
}

.blocflex__galerie{
    flex: 1 0 100%;
    text-align: center;
}
.bouton__ouvrir{
    margin-bottom: 20px;
}