.site__errour{
    h1, h4,h5{
       color: brown;
       text-align: center;
    }


    .recherche{
        justify-content: center;
    }

    .menu{
        display: flex;
        flex-flow: row wrap;
        gap: 5px;
    }
}




