.menu__bloc{ //nav

    .menu{ //ul

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: row wrap;
        list-style-type: none;
        gap: 150px;
        @media screen and (max-width: 500px) {
            gap: 20px;
           }

        .menu-item{ //li
            background-color: #5f5e70;
            border-radius: 10px;
            width: 340px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; 
            transform: perspective(1000px) rotateX(0) rotateY(0); 
          
            &:hover {
              background-color: #7a7990;
              box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.1), inset 3px 3px 7px rgba(0, 0, 0, 0.5); 
              transform: perspective(1000px) rotateX(-5deg) rotateY(20deg); 
            }
        

            a{
                font-size: 1.4rem;
                text-decoration: none;
                // color: rgb(243, 239, 239);
                font-weight: lighter;
                width: 300px;
            }


        }

    }

}


/*--------------------------------------------*/
.evenement__porte{
    background-image:url('https://s2.svgbox.net/octicons.svg?ic=bell');
    background-repeat: no-repeat;
    
    a{
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: center;
        justify-content: center;
    }

    span{
        text-align: center;
        width: 270px;
        font-size: 14px;
        margin-top: 20px;
      }

}