.menu-cours-container{

}
.menu-note-wp-container{

}
.menu{ //ul
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    @media screen and (min-width : 1000px){
        flex-direction: column; 
                       
    }

    .menu-item{ //li
        list-style-type:none;


    }
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-variant: small-caps;
        color: #555555;
        font-weight: bold;
        .cours__sigle{
            padding:  1px 3px;
            @media screen and (min-width:1000px) {
                padding: 3px;
            }
        }
        .cours__titre{
            display: none;
            @media screen and (min-width : 1000px){
                display: block;                
            }

        }
    }
}

#menu-footer{
    flex-direction: row;  
    position: relative;
    top: 25px;  
}