.menu__bloc{ //nav

    .menu{ //ul

        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        .menu-item{ //li
            // border: 1px solid #aaa;
            flex: 1 0 33%;
            background-color: #a1604d;
            padding: 5px 400px;
            border-radius: 5px;

            a{
                font-size: 2rem;
                text-decoration: none;
                color: rgb(243, 239, 239);
            }


        }

    }

}