.main__recherche {
    

    article {
       background-color: lightblue; 
       margin: 10px;
       padding: 5px;
       border-radius: 10px;
    }
}
    .recherche__input{
        height: 30px;
        background-color: azure;
        border-radius: 5px 0px 0px 5px;  
        font-size: 100%;  
    }

    .recherche__button{
        height: 30px;
        border-radius: 0px 5px 5px 0px;
        font-size: 100%;
    }

    


